@inherits ComponentBase

<div style="width: 100%; overflow-x: scroll" class="pa-5">
  <MudStack Row="true" Spacing="5" Style="width: fit-content">
    @foreach(var gameId in GameIds)
    {
      <GameCard GameID="@gameId" OnClick="GameIdChanged" Selected="@(gameId == SelectedGameId)"/>
    }
  </MudStack>
</div>
