@page "/home"
@using ATL.Core.Libraries
@inherits MudComponentBase

<div class="mt-4">
  <MudText
    Typo="Typo.h3"
    GutterBottom="@true"
  >@(ConstantsLibrary.AppFullTitle)</MudText>

  <MudText
    Typo="Typo.body1"
    GutterBottom="@true"
  >Welcome to the Apex Launcher, your one stop shop for your Avalanche game needs!</MudText>
</div>
