
<section>
  <MudStack Row="@true" Spacing="2" AlignItems="AlignItems.Center">
    <MudText Typo="Typo.h5">Mods</MudText>
    <MudText Typo="Typo.body1" Style="opacity: 75%">&bull;</MudText>
    <MudText Typo="Typo.body1" Style="opacity: 75%">@(ModConfigs.Count) mod@(ModConfigs.Count != 1 ? "s" : "")</MudText>
  </MudStack>

  <MudGrid Class="mt-1">
    @foreach (var (modId, modConfig) in ModConfigs)
    {
      <MudItem xs="12" md="6">
        <ModVersionSelect ModId="@modId"/>
      </MudItem>
    }
  </MudGrid>
</section>